* {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
.container {
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(250px, 20%) 1fr;
  grid-template-rows: 10% 5% 4fr 5%;
  gap: 5px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  grid-area: 1/1/2/3;
  display: grid;
  grid-template-columns: 3fr repeat(4, 1fr);
}

.logo {
  grid-area: 1/1/2/2;
  text-align: left;
  margin: auto;
  width: 100%;
}
.menu {
  grid-area: 1/2/2/6;
}
.menu ul,
.menu li {
  font-size: 16px;
}

.menu ul {
  display: flex;
  height: 100%;
  align-items: center;
}

.menu li {
  flex: 1;
}

.sidebar {
  background-color: #ff7755;
  grid-area: 2/1/4/2;
  display: grid;
  gap: 50px;
  grid-column: 1fr;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  background-color: #ff7755;
  grid-area: 2/2/3/3;
}

.nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 16px;
  text-transform: uppercase;
  height: 100%;
  align-items: center;
}

.article {
  background-color: #bccbde;
  grid-area: 3/2/4/3;
  display: grid;
  gap: 15px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #ffffff;
  color: black;
  text-align: center;
  height: 200px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-area: 4/1/5/3;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}
